body {
  background-image: url('https://img.freepik.com/free-vector/watercolor-hand-drawn-background_23-2149036581.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
}

/* General Accordion Styles */
.accordion {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  margin-top: 30px;
}

/* Accordion Item Styles */
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/* Accordion Title Button */
.accordion-title {
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #e0e0e0;
}

.accordion-title[aria-expanded="true"] {
  background-color: #d0d0d0;
}

.accordion-content {
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.accordion p {
  font-size: 16px;
  color: #252525;
  text-align: center;
}